.footer {
    /* Make the footer sit at the bottom no matter what */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;
    background-color: #343a40!important;
    color: white;
}

.footer a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.footer a:hover {
    color: #ffcc00;
}
