body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-drop {
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transition: all 0.5s ease-in-out;
}


@keyframes drop {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}
